@import url("https://use.typekit.net/uon8lne.css");

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #424B54;
}

a:hover {
  background-color:#E6CCFF;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: 700;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration:none;
}

body {
  margin: 0;
  background: #F8F8F8;
  color: #424B54;
  font-size: 15px;
  font-family: "brandon-grotesque";
  line-height: 1.45;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.15;
  margin: 0.7em 0;
  text-transform: uppercase;
  margin: 0 0 30px;
  font-size: 18px;
  letter-spacing: 1.6px;
}

h1 a {
  opacity: 0.6;
  font-weight: 900;
  background: none;
}

h1 a:hover {
  background: none;
  color: #000;
  opacity: 1;
}

main {
  max-width: 550px;
  margin: 10px auto 0;
  padding: 30px;
}


